.subtitle {
  width: 400px;
  text-transform: uppercase;
  text-align: center;
}

.appear {
  transform: translateX(-100%);
}
.appearActive {
  transform: translateX(0);
  transition: all 500ms ease-in;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: all 250ms ease-in;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: all 250ms ease-in;
}

.errorEnter {
  transform: translateX(100%);
}

.errorEnterActive {
  transform: translateX(0);
  transition: all 250ms ease-in;
}

.errorExit {
  transform: translateX(0);
}

.errorExitActive {
  transform: translateX(100%);
  transition: all 250ms ease-in;
}

.form {
  width: 320px;
  display: flex;
  flex-direction: column;
}

form .authInput {
  margin-bottom: 20px;
}
